{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3" style="width: 95%; font-size: 14px;">
    <!-- 1) (ALL FIELDS) Error messages from (form.py) ) 
    {% for field in form %}
    
        {% for error  in field.errors %}
        <div class=" alert alert-danger alert-dismissible fade show text-center" role="alert">
            <strong>{{error|escape}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endfor %}  -->

    <!--  2) (INDIVIDUAL) Error message from (form.py) )  -->
    <!-- -- Note (striptags) this filter removes the <li> from msg  -->
    <!-- {% if form.errors %} 
    <div class=" alert alert-danger alert-dismissible fade show text-center" role="alert">
        {{form.email.errors | striptags}} How to add line break--- 
        <strong>{{form.email.errors}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %} -->


    <!-- 3) (OPTIONAL INDIVIDUAL (SweetAlert) But using JS)  -->
    <!-- {% if form.errors %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var a= "{{form.email.errors|striptags}}";
        swal("Denied!", a, "error")
    </script> 

    {% endif %} -->


    <!-- Message for backend view.py -->
    <div class="text-center">
        {% for message in messages %}
        {% if message.tags == "success" %}
        <div class=" alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        {% endfor %}
    </div>

    <form action="" method="post" class="mt-3" enctype="multipart/form-data" novalidate autocomplete="off">
        {% csrf_token %}
        <!--CARD 1 (PERSONAL)-->
        <div class="card boarder-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor: default;">
                <!-- Frontend: FR-22 &nbsp; |&nbsp; Frontend: BA-10 &nbsp; | &nbsp; Fullstack: FU-22 -->
                PERSONAL
            </span>
            <div class="row">
                <div class="col-4">{{form.firstname|as_crispy_field}}</div>
                <div class="col-4">{{form.lastname|as_crispy_field}}</div>
                <div class="col-4">{{form.job|as_crispy_field}}</div>
            </div>
            <div class="row">
                <div class="col-4">{{form.email|as_crispy_field}}</div>
                <div class="col-4">{{form.birth|as_crispy_field}}</div>
                <div class="col-4">{{form.phone|as_crispy_field}}</div>
            </div>
            <hr style="border: 1px solid #007bff;">
            <div class="row">
                <div class="col-4">{{form.personality|as_crispy_field}}</div>
                <div class="col-4">{{form.salary|as_crispy_field}}</div>
                <div class="col-2">{{form.gender|as_crispy_field}}</div>
                <div class="col-2">{{form.smoker|as_crispy_field}}</div>
            </div>

            {{form.experience|as_crispy_field}}
            <hr style="border: 1px solid #007bff; margin-top: -15px;">
            {{form.message|as_crispy_field}}
            <hr style="border: 1px solid #007bff;">
            {{form.file|as_crispy_field}}
            {{form.image|as_crispy_field}}
        </div>
        <br>
        <!--CARD 2 (SKILLS)-->
        <div class="card boarder-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor: default;">
                YOUR SKILLS
            </span>
            <div class="row">
                <div class="col-2"> {{form.frameworks|as_crispy_field}}</div>
                <div class="col-2"> {{form.languages|as_crispy_field}}</div>
                <div class="col-2"> {{form.databases|as_crispy_field}}</div>
                <div class="col-2"> {{form.libraries|as_crispy_field}}</div>
                <div class="col-2"> {{form.mobile|as_crispy_field}}</div>
                <div class="col-2"> {{form.others|as_crispy_field}}</div>
            </div>
        </div>
        <br>

        <!--CARD 3 (EDUCATION)-->
        <div class="card boarder-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor: default;">EDUCATIONAL</span>
            <div class="row mt-1">
                <div class="col-4">{{form.institution|as_crispy_field}}</div>
                <div class="col-4">{{form.course|as_crispy_field}}</div>
                <div class="col-2">{{form.started_course|as_crispy_field}}</div>
                <div class="col-2">{{form.finished_course|as_crispy_field}}</div>
            </div>
            {{form.about_course|as_crispy_field}}
            <div class="row">
                <div class="col-3">{{form.status_course|as_crispy_field}}</div>
            </div>
        </div>
        <br>

        <!--CARD 4 (PROFESSIONAL)-->
        <div class="card boarder-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor: default;">PROFESSIONAL </span>
            <div class="row mt-1">
                <div class="col-4">{{form.company|as_crispy_field}}</div>
                <div class="col-4">{{form.position|as_crispy_field}}</div>
                <div class="col-2">{{form.started_job|as_crispy_field}}</div>
                <div class="col-2">{{form.finished_job|as_crispy_field}}</div>
            </div>
            {{form.about_job|as_crispy_field}}
            <hr style="border: 1px solid #007bff;">
            <div class="row">
                <div class="col-3">{{form.employed|as_crispy_field}}</div>
                <div class="col-3">{{form.remote|as_crispy_field}}</div>
                <div class="col-3">{{form.travel|as_crispy_field}}</div>
            </div>
        </div>


        <!--BUTTON-->
        <button type="submit" class=" btn btn-outline-primary mt-3" style="width:90px;">Submit</button>
        <a href="{% url 'home' %}" class=" btn btn-outline-dark mt-3" style="width:90px;">Reset</a>
    </form>

</div> <!-- end container -->
<br><br><br>
{% endblock %}