{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3" style="width: 95%; font-size: 14px;">
    <!-- 1) (ALL FIELDS) Error messages from (form.py) ) 
    {% for field in form %}
    
        {% for error  in field.errors %}
        <div class=" alert alert-danger alert-dismissible fade show text-center" role="alert">
            <strong>{{error|escape}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endfor %}  -->

    <!--  2) (INDIVIDUAL) Error message from (form.py) )  -->
    <!-- -- Note (striptags) this filter removes the <li> from msg  -->
    {% if form.errors %}
        <div class=" alert alert-danger alert-dismissible fade show text-center" role="alert">
            <!-- ---- {{form.email.errors | striptags}} How to add line break--- -->
            <strong>{{form.email.errors}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    

    <!-- 3) (OPTIONAL INDIVIDUAL (SweetAlert) But using JS)  -->
    <!-- {% if form.errors %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        var a= "{{form.email.errors|striptags}}";
        swal("Denied!", a, "error")
    </script> -->

    {% endif %}


    <!-- Message for backend view.py -->
    <div class="text-center">
        {% for message in messages %}
            {% if message.tags == "success" %}
            <div class=" alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

        {% endfor %}
    </div>

    <form action="" method="post" class="mt-3" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <!-- Card 1 -->
        <div class="card boarder-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor: default;">
                Frontend: FR-22 &nbsp; |&nbsp; Frontend: BA-10 &nbsp; | &nbsp; Fullstack: FU-22
            </span>
            <div class="row">
                <div class="col-4">{{form.firstname|as_crispy_field}}</div>
                <div class="col-4">{{form.lastname|as_crispy_field}}</div>
                <div class="col-4">{{form.job|as_crispy_field}}</div>
            </div>
            <div class="row">
                <div class="col-4">{{form.email|as_crispy_field}}</div>
                <div class="col-4">{{form.age|as_crispy_field}}</div>
                <div class="col-4">{{form.phone|as_crispy_field}}</div>
            </div>
            <hr style="border: 1px solid #007bff;">
            <div class="row">
                <div class="col-4">{{form.personality|as_crispy_field}}</div>
                <div class="col-4">{{form.salary|as_crispy_field}}</div>
                <div class="col-2">{{form.gender|as_crispy_field}}</div>
                <div class="col-2">{{form.smoker|as_crispy_field}}</div>
            </div>

            {{form.experience|as_crispy_field}}
            <hr style="border: 1px solid #007bff; margin-top: -15px;">
            {{form.message|as_crispy_field}}
            {{form.file|as_crispy_field}}
        </div>
        <br>
        <div class="card boarder-dark p-3">
            <span class="btn btn-secondary mb-4" style="cursor: default;">
                MARK YOUR SKILLS
            </span>
            <div class="row">
                <div class="col-2"> {{form.frameworks|as_crispy_field}}</div>
                <div class="col-2"> {{form.languages|as_crispy_field}}</div>
                <div class="col-2"> {{form.databases|as_crispy_field}}</div>
                <div class="col-2"> {{form.libraries|as_crispy_field}}</div>
                <div class="col-2"> {{form.mobile|as_crispy_field}}</div>
                <div class="col-2"> {{form.others|as_crispy_field}}</div>
            </div>
            <hr style="border: 1px solid #007bff;">
            <button type="submit" class=" btn btn-outline-primary btn-sm" style="width:90px;">Submit</button>
        </div>
    </form>






</div> <!-- end container -->
<br><br><br>
{% endblock %}