{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3" style="width: 95%; font-size: 14px;">
    <div class="card p-3 border-dark text-center alert alert-warning" styl="font-size: 18px;">
        Frontend: FR-22 &nbsp; |&nbsp; Frontend: BA-10 &nbsp; | &nbsp; Fullstack: FU-22 
    </div>
    <form action="" method="post" class="card p-3 mt-5" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <!-- {{form|crispy}} -->
        <div class="row">
            <div class="col-4">{{form.firstname|as_crispy_field}}</div>
            <div class="col-4">{{form.lastname|as_crispy_field}}</div>
            <div class="col-4">{{form.job|as_crispy_field}}</div>
        </div>
        <div class="row">
            <div class="col-4">{{form.email|as_crispy_field}}</div>
            <div class="col-4">{{form.age|as_crispy_field}}</div>
            <div class="col-4">{{form.phone|as_crispy_field}}</div>
        </div>
        <hr style="border: 1px solid #007bff;">
        <div class="row">
            <div class="col-4">{{form.personality|as_crispy_field}}</div>
            <div class="col-4">{{form.salary|as_crispy_field}}</div>
            <div class="col-2">{{form.gender|as_crispy_field}}</div>
            <div class="col-2">{{form.smoker|as_crispy_field}}</div>
        </div>
        
        {{form.experience|as_crispy_field}}
        <hr style="border: 1px solid #007bff; margin-top: -15px;">
        {{form.message|as_crispy_field}}
        {{form.file|as_crispy_field}}
        
        <hr style="border: 1px solid #007bff;">
        <button type="submit" class=" btn btn-outline-primary btn-sm"style="width:90px;">Submit</button>
    </form>

    

    {% for message in messages  %}
        {% if message.tags == "success" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

    {% endfor %}

      
</div>
{% endblock %}